<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="automobili">Automobili</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="zaposlenici">Zaposlenici</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="klijenti">Klijenti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="dobavljaci">Dobavljači<i></i></a>
      </li>
    </ul>
  </nav>
  <div>
    <br>
    <h1>Aplikacija salona za prodaju automobila</h1>
    <router-outlet></router-outlet>
  </div>